<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases><!-- 맵퍼에서 주소를 다 안써도 인식하게 하는법. 도메인패키지에 있는것들을 인식하게 된다. -->
		<package name="com.yi.domain"/>
	</typeAliases>
</configuration>